@theme {
  /* Colors */
  --color-inkwell-black: #17150;
  --color-cloud-white: #ffffff;
  --color-porcelain-gray: #f0f7f6;
  --color-obsidian-black: #000000;
  --color-silver-mist: #e2e2e2;
  --color-genius-yellow: #cccc25;
  --color-genius-yellow-gradient: #cccc25;
  --color-sky-violet: #9fa6ff;
  --color-sky-violet-gradient: #9fa6ff;

  /* Typography */
  --font-basel-grotesk-book: 'Basel Grotesk Book', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-basel-classic-book: 'Basel Classic Book', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  /* Typography — Scale */
  --text-sm: 13px;
  --leading-sm: 1.13;
  --text-sm-2: 14px;
  --leading-sm-2: 1.4;
  --text-base: 16px;
  --leading-base: 1.4;
  --text-lg: 18px;
  --leading-lg: 1.4;
  --text-xl: 22px;
  --leading-xl: 1.2;
  --text-3xl: 32px;
  --leading-3xl: 1.1;
  --text-4xl: 40px;
  --leading-4xl: 1.1;
  --text-5xl: 48px;
  --leading-5xl: 1.05;
  --text-5xl-2: 72px;
  --leading-5xl-2: 0.97;
  --text-5xl-3: 96px;
  --leading-5xl-3: 0.9;
  --text-5xl-4: 144px;
  --leading-5xl-4: 0.8;

  /* Spacing */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  --spacing-108: 108px;
  --spacing-120: 120px;

  /* Border Radius */
  --radius-lg: 8px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-3xl-2: 40px;
  --radius-full: 1440px;
}